
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header globalTop setColor">Portfolio</h1>
    </div>
  </div>
  <div class="row" >
    <div class="bs-example">
      <carousel [interval]="myInterval">
        <slide>
          <img src="assets/images/ui screens/kochone.png" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/ui screens/kochtwo.png" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/ui screens/kochthree.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/ui screens/coeone.png" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/ui screens/salesorder.png" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/ui screens/uploadtos3.png" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/ui screens/disney.JPG" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/ui screens/disney2.JPG" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/ui screens/disney3.JPG"  alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/ui screens/disney4.JPG"  alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/ui screens/IBX.JPG"  alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/ui screens/IBX2.JPG"  alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/ui screens/IBX3.JPG"  alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/ui screens/IBX4.JPG"  alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/ui screens/QL.JPG"  alt="third slide" style="display: block; width: 50%;height:100%;margin: auto;">
        </slide>
        <slide>
          <img src="assets/images/ui screens/QL2.JPG"  alt="third slide" style="display: block; width: 50%;height:100%;margin: auto;">
        </slide>
        <slide>
          <img src="assets/images/ui screens/QL3.JPG"  alt="third slide" style="display: block; width: 50%;height:100%;margin: auto;">
        </slide>
      </carousel>
    </div>
  </div>
