<div id="main" style="background-color: #e1e1e1">

<div class="row" style="margin-top:59px;">
  <div class="well col-md-9" style="position:relative;left:58px;background: #00bdbd;">
    <h2 class="nameSet">Gaddam Shashi Kanth</h2>
    <h3 class="titleSet">Front End Web Developer / User Interface Developer </h3>
    <p class="aboutSet">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hi, I'm Shashi Gaddam, I'm a Front End Developer.My Focus is on developing Front End Applications using technologies like Angular Js, Vue Js, React Js, Html 5, Css 3, Java script, Jquery, Bootstrap and Node Js.I like creating clean User Interfaces and Responsive web pages.I'm very Passionate to
    learn and adapt quickly to the emerging new technologies.I have experience in creating web applications in W3C Standards.</p>


  </div>
<div class="col-md-3">
  <img src="./assets/images/profile.jpg" alt="Trulli" width="200" height="238" style="float:right;"  style="position:relative;left:50px;">

</div>
</div>


<!--<div class="row">-->

  <!--&lt;!&ndash;<br/>&ndash;&gt;-->
  <!--&lt;!&ndash;<br/>&ndash;&gt;-->
  <!--&lt;!&ndash;<br/>&ndash;&gt;-->
  <!--<div class="col-md-11">-->
 <!--<div  style="background-color: #00bdbd;position: relative;-->
    <!--left: 55px;border:1px solid black;">-->
<!--<h4 style="color:#fff;position:relative;left:10px;font-family: 'Open Sans', sans-serif;font-size: 26px;font-weight:300">About Me</h4>-->
   <!--<p style="color:#fff;font-weight:400;font-family: 'Open Sans', sans-serif;line-height:30px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hi, I'm Shashi Gaddam, I'm a Front End Developer.My Focus is on developing Front End Applications using technologies like Angular Js, React Js, Html 5, Css 3, Java script, Jquery, Bootstrap and Node Js.I like creating clean User Interfaces and Responsive web pages.I'm very Passionate to-->
     <!--learn and adapt quickly to the emerging new technologies.I have experience in creating web applications in W3C Standards.</p>-->



  <!--</div>-->



  <!--</div>-->
<!--</div>-->




<div class="row">

  <div class="col-md-6 barSet">
    <app-barchart></app-barchart>

</div>
  <div class="col-md-6 pieSet">

    <app-piechart></app-piechart>

  </div>
</div>

<div class="row">
  <div class="footer">

    <span>hello</span>
  </div>

  <!--<div class="panel panel-default">-->

    <!--<div class="panel-footer" style="background-color: #00bdbd;height:100px;margin-top:0px;padding-top:0px;"></div>-->
  <!--</div>-->
</div>
</div>
  <!-- <div class="mftr">-->
    <!-- <div class="legal-copy">&copy; 2017 Monsanto Company - All Rights Reserved</div>
  </div> -->
