<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header globalTop setColor">Education

      </h1>
    </div>

  </div>
   <div class="row workDetails">
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
          <div class="workYear">2012 - 2013</div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
          <div class="arrowpart"></div>
          <div class="exCon">
            <h4>Master Degree - Information Technology </h4>
            <h5>University of Central Missouri, Missouri</h5>
            <p> Few courses include: Software Engineering,Adv App Dev Using Visual C#,Application Dev using Java,Project Management,Advanced Systems Project   <br> Through out my academic career at UCM, I worked with many professors and Developed few applications using web technologies like Html,css,Javascript,Jquery,c#,java.</p>
          </div>
        </div>
      </div>
  <div class="row workDetails">
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
      <div class="workYear">2006 -2010</div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
      <div class="arrowpart"></div>
      <div class="exCon">
        <h4>Bachelors Degree - Computer Science</h4>
        <h5>Jawaharlal Nehru Technological University, Hyderabad, India</h5>
        <p> Few courses include: C programming,Advance Data Structures, Ooops through Java,Data Base Mgmt Systems,Web Technologies <br> Through out my acadamic career at JNTU, I worked with many academic projects using technologies like Html,Css,Java script,C,C++,Java </p>
      </div>
    </div>
  </div>
</div>
