<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">


      <nav class="navbar navbar-inverse navbar-fixed-top" style="background: red;">
        <div class="container-fluid">
          <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#">WebSiteName</a>-->
          <!--</div>-->
          <ul class="nav navbar-nav" style="margin-left:180px;">
            <li class=" tabSize tabContent "><a  routerLink="/" routerLinkActive="active">HOME</a></li>
            <li class="tabSize"><a routerLink="skills" routerLinkActive="active">SKILLS</a></li>
            <li class="tabSize"><a routerLink="experience" routerLinkActive="active">EXPERIENCE</a></li>
            <li class="tabSize"><a  routerLink="education" routerLinkActive="active">EDUCATION</a></li>
            <li class="tabSize"><a  routerLink="portfolio" routerLinkActive="active">PORTFOLIO</a></li>
            <li class="tabSize"><a  routerLink="contact" routerLinkActive="active">CONTACT</a></li>
          </ul>
        </div>
      </nav>

    </div>
  </div>

  <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
      <!--<router-outlet></router-outlet>-->
    <!--</div>-->
  <!--</div>-->


</div>
