.workYear {
  font-size: 17px;
  color: #fff;
  background: #00bdbd;
  text-align: center;
  width: 120px;
  height: 120px;
  padding: 40px 0 40px 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  /* For Firefox and other Gecko browsers */
  -moz-border-radius: 50%;
  /* For Chrome/Safari and other Webkit browsers */
  -webkit-border-radius: 50%;
  /* For others */
}
@media screen and (min-width: 1200px)
  .workYear {
    width: 140px;
    height: 140px;
    padding-top: 50px;


  }

  .exCon {
    width: auto;
    background: #f3f3f3;
    border-bottom: solid 4px #eeeeee;
    padding: 22px 47px 6px 47px;
    margin-left: 15px;
    text-align: left;
  }
  .arrowpart {
    float: left;
    width: 15px;
    height: 50px;
    background: url(/../assets/images/arrow-left.png) no-repeat 0 23px;
  }
  .workDetails .rightArea {
    border-left: solid 1px #eaeaea;
    padding-bottom: 47px;
  }
  .exCon p {
    color: #84868d;
    line-height: 21px;
  }
  .contact{
    position: relative;
    left: 40px;
  }
