<!-- Page Content -->

<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header globalTop setColor">Experience</h1>
    </div>

  </div>
  <div class="row workDetails">
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
      <div class="workYear">Sept 2019<br>
        Present</div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">

      <div class="arrowpart"></div><div class="exCon">
      <h4>Koch Industries INC<img height="102px" width="200" class="iconAlign" align="right" src="assets/images/koch.jpg"> </h4>
      <h5>UI Developer</h5>
      <p>Koch Industries, Inc. is an American multinational corporation based in Wichita, Kansas. Its subsidiaries are involved in the manufacturing, refining, distribution of petroleum, finance, chemicals, energy, minerals, fertilizers, finance etc. I am part of Energy Dashboard where it is used by various auto manufacturing companies around the world to gather and analyze the Energy utilization of their products.
      </p>
      <h5>Wichita,KS</h5>
    </div>
    </div>
  </div>
  <div class="row workDetails">
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
      <div class="workYear">April 2017<br>
        Aug 2019</div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">

      <div class="arrowpart"></div><div class="exCon">
      <h4>Bayer <img height="102px" width="136" class="iconAlign" align="right" src="assets/images/bayer.png"> </h4>
      <h5>UI Developer</h5>
      <p>Monsanto Company was an agrochemical and agricultural biotechnology corporation. It was headquartered in Creve Coeur, Greater St. Louis, Missouri. I am part of  many data visualization projects like Center of Excellence dashboard,
      Sales order streaming Dashboard,Uploadfilestos3 and Enterprise Dashboard</p>
      <h5>Saint Louis, MO</h5>
    </div>
    </div>
  </div>
  <div class="row workDetails">
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
      <div class="workYear">June 2016<br>
        March 2017</div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">

      <div class="arrowpart"></div><div class="exCon">
      <h4>Walt Disney (Accenture)<img height="102px" class="iconAlign" align="right" src="assets/images/waltdisney.jpeg"> </h4>
      <h5>UI Developer</h5>
      <p>The Walt Disney World Resort is an entertainment complex located in  Lake Buena Vista, Florida.The resort is owned and operated by Walt Disney Parks and Resorts, a division of The Walt Disney Company. I am part of  DLR Cast Application which is used by the cast members in the park.This application can scan the tickets and pull up the tickets reservation information of the guests.</p>
      <h5>Orlando, FL</h5>
    </div>
    </div>
  </div>
  <!-- <div class="row workDetails">
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
      <div class="workYear">Jan 2016<br>
        May 2016</div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">

      <div class="arrowpart"></div><div class="exCon">
      <h4>Subaru of America<img height="102px" class="iconAlign" align="right" src="assets/images/subaru.png"> </h4>
      <h5>UI Developer</h5>
      <p>Subaru of America, Inc. (SOA) is the U.S. Sales and Marketing subsidiary of Fuji Heavy Industries (FHI) of Japan and is responsible for the distribution, marketing, sales and service of Subaru vehicles in the United States. Iam part of the new subarunet look and feel project which is used by the dealers throughout us and canada.
      </p>
      <h5>CherryHill, NJ</h5>
    </div>
    </div>
  </div> -->
  <div class="row workDetails">
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
      <div class="workYear">June 2015<br>
        May 2016</div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">

      <div class="arrowpart"></div><div class="exCon">
      <h4>Quicken Loans<img height="102px" class="iconAlign" align="right" src="assets/images/ql.jpg"> </h4>
      <h5>UI Developer</h5>
      <p>Quicken Loans is the second largest overall retail lender in the U.S and it is the no. one I.T place to work in U.S by Computer World.I was involved in the Drive 2.0 project where it is used to set communication between team leader and team members.It is also used by team members to set goals for them and team leaders uses Drive 2.0 to give feedback to the team members.
      </p>
      <h5>Detroit, MI</h5>
    </div>
    </div>
  </div>
  <div class="row workDetails">
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
      <div class="workYear">Jan 2014<br>
        May 2015</div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">

      <div class="arrowpart"></div><div class="exCon">
      <h4>Independence Blue Cross<img height="102px" class="iconAlign" align="right" src="assets/images/ibx.png"> </h4>
      <h5>UI Developer</h5>
      <p>Independence Blue cross is the leading insurance company in southeastern Pennsylvania. I was involved in a project to develop the web site for Scheduling Nurses to collect information from the providers and also involved in implementing Data Entry module where Nurses can enter the information for the members with different indicators.
      </p>
      <h5>Philadelphia, PA</h5>
    </div>
    </div>
  </div>
  <!-- <div class="row workDetails">
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
      <div class="workYear">May 2013<br>
        Dec 2013</div>
    </div> -->
    <!-- <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea"> -->

      <!-- <div class="arrowpart"></div><div class="exCon">
      <h4>Citius Tech <img height="102px" class="iconAlign" align="right" src="assets/images/cititech.png"> </h4>
      <h5>Web Developer</h5>
      <p>Citius Tech plays a key role in enabling healthcare technology partners, large hospitals/IDNs, payers, and life sciences companies accelerate innovation in their business - across care delivery models and workflows, and leverage new technologies to enhance patient care and engagement.
      </p>
      <h5>Princeton, NJ</h5>
    </div> -->
    <!-- </div>
  </div> --> 
  <!--<div class="row workDetails">-->
    <!--<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">-->
      <!--<div class="workYear">June 2010<br>-->
        <!--July 2012</div>-->
    <!--</div>-->
    <!--<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">-->

      <!--<div class="arrowpart"></div><div class="exCon">-->
      <!--<h4>Maruthi Suzuki<img height="102px" class="iconAlign" align="right" src="assets/images/maruthi.jpg"> </h4>-->
      <!--<h5>UI Developer</h5>-->
      <!--<p>Maruti Suzuki India Limited, formerly known as Maruti Udyog Limited, is an automobile manufacturer in India. It is a subsidiary of Japanese automobile and motorcycle manufacturer Suzuki Motor Corporation.Created Front-end Applications using HTML, CSS and JavaScript.-->
      <!--</p>-->
      <!--<h5>Hyderabad, India</h5>-->
    <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>


